* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
}

span {
    color: #F948B2;
}

button {
    border: none;
    outline: none;
}

b {
    font-size: 36px;
}

/* Common css End */

/* Header part start */
.row {
    display: flex;
    justify-content: space-around;
    height: 80px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    /* border: 1px solid red; */
}

.h_img {
    display: flex;
    gap: 20px;
}

.h_img h2 {
    font-size: 45px;
    font-weight: 700;
}

.h_img img {
    width: 100px;
    height: 40px;
}

.navber ul {
    display: flex;
    align-items: center;
}

.navber ul li {
    color: #3C354F;
    margin-right: 20px;
    font-size: 18px;
}

.navber ul li a {
    color: #3C354F;
}

.h_icon {
    padding: 10px;
    display: flex;
    width: 200px;
    gap: 12px;
    /* height: 56px; */
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.h_icon img {
    cursor: pointer;
}

/* This is Banner part */
.banner {
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 500px;
    display: flex;
    align-items: center;

}

.banner_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_text {
    width: 100%;
    /* background-image: url("./images/header/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: contain; */
    height: 100%;
    position: relative;

}

.container_text_banner h3 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.container_text_banner h2 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container_text_banner p {
    margin-top: 8px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.container_text_banner button {
    margin: 20px 0px;
    color: #FFF;
    font-size: 18px;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.banner_text img {
    width: 100%;
    height: 700px;
}

.banner_img {
    border: 1px solid rgb(20, 27, 176);
    width: 100%;
}

.banner_img img {
    width: 100%;
    height: 700px;
}

/* Another banner part */
.second_banner {
    max-width: 1400px;
    min-height: 500px;
    margin: 50px auto 150px;
    display: flex;
    text-align: right;
    align-items: center;
}

.banner_first {
    width: 60%;
}

.banner_first img {
    width: 100%;
    height: 100%;
}

.banner_last {
    width: 40%;
}

.banner_last h2 {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner_last p {
    /* width: 520px; */
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0px;
}

.banner_last button {
    margin: 15px 0px;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.banner_last h3 {
    color: #534C64;
    font-size: 24px;
    font-style: normal;
    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

/* Another banner end */
/* Header part End */

/* Main part  */
/* Card part / bonus part */
.online_game_container {
    height: 100vh;
    /* border: 1px solid rgb(16, 211, 39); */
}

.game_row {
    text-align: center;
}

.game_row h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}

.game_row p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 70px;
}

.game_card {
    margin: 50px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
}

.card {
    /* gap: 20px; */
    height: 410px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    margin: 0 auto;
}

.card p {
    text-align: left;
}

.card img {
    width: 90%;
    margin-top: 20px;
    /* gap: 20px; */
}

/* Horse game part */
.ss {
    padding: 0 60px;
}

.horse_container {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-around;
    position: relative;

}

.fst_coloum h2 {
    font-size: 48px;
    font-weight: 700;
}

.fst_coloum p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0px;
}

.scnd_coloum {
    position: relative;
}

.scnd_coloum img {
    width: 100%;
}

.horse_annimation {
    position: absolute;
    bottom: -50px;
    left: -60px;
}

/* Icon part */
.icon_contain {
    margin-top: 50px;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
    gap: 30px;
    justify-content: center;
}

.icon {
    text-align: center;
    width: 250px;
    padding: 10px;
}

.icon:hover {
    border: 1px solid red;
    border-radius: 2rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
}

.icon a {

    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;

}

.icon a img {
    width: 50px;
}

/* footer part */
footer {
    display: flex;
    justify-content: center;
    height: 60vh;
    color: #FFF;
    background: #0B0223;
    text-align: center;
    align-items: center;
}

.foot_con {
    display: flex;
    gap: 20px;
}

.footer_second_row ul,
.footer_fourth_row ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}


/* Responsive design */
@media screen and (max-width:576px) {
    .row {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .navber ul {
        flex-direction: column;
        margin: 0 auto;
    }

    .navber ul li {
        margin: 10px;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 0 auto;
        width: 100%;
    }

    .container_text_banner {
        text-align: center;
        width: 100%;
    }

    /* 2nd banner */
    .second_banner {
        flex-direction: column;
    }

    .banner_first,
    .banner_last {
        width: 100%;
    }

    .banner_last {
        text-align: center;
    }

    .online_game_container {
        height: auto;
    }

    .game_card {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        margin-top: 20px;
        height: auto;
    }

    .card p {
        text-align: center;
    }

    /* horce part */
    .horse_container {
        flex-direction: column;
    }

    .scnd_coloum {
        width: 300px;
    }

    .scnd_coloum img {
        width: 100%;
        height: 100%;
    }

    .horse_annimation img {
        height: 150px;
        width: 150px;
    }

    .icon_contain {
        gap: 5px;
    }

    .icon {

        width: 108px;
        height: 80px;

    }
    .icon_contain{
      
        flex-wrap: wrap;
    }
}